<h2>Using Virtual Scroller</h2>
<p>Change the size of the table in component scss</p>
<a href="https://github.com/rintoj/ngx-virtual-scroller" target="_blank">Goto git page</a>
<virtual-scroller #scroll [items]="machines">
  <div *ngFor="let machine of scroll.viewPortItems">
    <span>{{machine.imageUrl}}</span>
    <span>{{machine.path}}</span>
    <span>{{machine.location}}</span>
    <span>{{machine.model}}</span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
    <span></span>
  </div>
</virtual-scroller>